body {
    font-size: 14px;
    line-height: 1.4;
    color: #333;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.column {
    width: 50%;
    float: left;
}

@media screen and (min-width: 767px) {

}